
body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;

  background-color: lightgray;
}

#header, #footer {
  position: relative;
  font-size: 17px;
  display: flex;
  flex-flow: row;
  z-index: 1;

  > .fa {
    margin: 3px 0px;
    padding: 8px 10px;
  }

  > span {
    margin-top: 7px;
    margin-right: 15px;
  }

  > button {
    outline: none;
    margin-right: 8px !important;

    /* HACK: override bootstrap focus behavior */
    &:focus {
      background-color: #fff;
      border-color: #ccc;
    }
    &:hover, &.active, &.active:focus {
      background-color: #e6e6e6;
      border-color: #adadad;
    }
  }
}

#header {
  border-bottom: 1px solid gray;
}

#main-row {
  flex: 1 100%;
  display: flex;
  flex-flow: row;
}

#main-panel {
  flex: 2 0px;
}

#left-side-bar,
#right-side-bar {
  flex-grow: 0;
  width: 210px;
  background-color: gray;
}

#right-side-bar.hidden,
#left-side-bar.hidden {
  width: 0;
}

#waitingMsg {
  width: 100%;
  margin: 25px;
  font-size: 20px;
  text-align: center;
}

#main-panel.mouse-crosshair {
  cursor: not-allowed !important;

  #viewer { /* Ignore clicks while pinging. */
    pointer-events: none;
  }

  img {
    pointer-events: auto;
    cursor: crosshair !important;
  }
}
