
#left-side-bar {
  padding-right: 5px;
}

#sidebarHeader {
  font-size: 17px;
  margin: 3px 0 1px 5px;

  .fa {
    margin-right: 6px;
  }
}

#folders {

  > li {

  }

  #presentations {

    > li {


      &.selected {
        color: yellow;
      }

      &:not(:hover) .fa-trash {
        display: none;
      }
    }
  }
}

#sidebarLoading {
  padding-left: 10px;
}
